*.obj
*.o
*.~*
*.ils
*.ilc
*.ild
*.ilf
*.map
*.drc
*.tds
*.il
*.gch
*.ii
*.pch
*.exe
*.#*
*.bak
*(from *).*
*.ncb
*.LIB
*.s
*.dll
*.sym
*.wpj
*[Conflict].*
*.ilk
*.pdb
*.idb
DEBUG/*.*
*.ipch
Win32/*.*
Makefile.win
*.err
*.bc